<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>
</head>
<body>
<div class="wrapper">
  <div class="top_navbar">
    <div class="navbar">
       <div class="one"></div>
       <div class="two"></div>
       <div class="three"></div>
    </div>
    <div class="top_menu">
      <div class="logo">
         CI-CD-TOOL GUI CLIENT
      </div>
    </div>
  </div>

  <div class="sidebar">
      <ul>
        <li><a href="/jobs" id="jobs">
          <span class="title">Jobs</span>
          </a></li>
        <li><a href="/nodes" id="nodes">
          <span class="title">Nodes</span>
          </a></li>
    </ul>
  </div>

  <div class="main_container">
      {% if create_job %}
        <form action="/jobs" method="POST">
            <label for="title">Title</label>
            <input type="text" id="title" name="title" placeholder="Job title..">
            <label for="job_desc">Description</label>
            <input type="text" id="job_desc" name="description" placeholder="Job description..">
            <input type="submit" id="job_submit" value="Submit">
        </form>
      {% endif %}
      {% if create_build %}
        <form action="/jobs/{{ job_id }}/builds" method="POST">
            <label for="title">Description</label>
            <input type="text" id="description" name="description" placeholder="Build description..">
            <label for="job_desc">Commands</label>
            <input type="text" id="commands" name="commands" placeholder="Build commands..">
            <label for="job_desc">Commands</label>
            <input type="text" id="node" name="node" placeholder="Node id to perform the build..">
            <input type="submit" id="node_submit" value="Submit">
        </form>
      {% endif %}
      {% if jobs %}
        <a href="/create_job" class="button">Create new job</a>
      {% for job in jobs %}
      <a href="/jobs/{{ job.id }}" id="job_link{{ job.id }}">
        <div class="item">
          {{ job.id }} {{ job.title }} {{ job.description }} {{ job.created_date }}
        </div>
      </a>
      {% endfor %}
      {% endif %}
      {% if job %}
        <a href="/create_build/{{ job.id }}" class="button">Create new build attached to this job</a>
        <div class="item">
          JOB : {{ job.id }} {{ job.title }} {{ job.description }} {{ job.created_date }}
        </div>
        {% for build in builds %}
            <a href="/jobs/{{ job.id }}/builds/{{ build.id }}" id="build_link{{ build.id }}" >
            <div class="item">
              {{ build.id }} {{ build.commands }} {{ build.description }} {{ build.created_date }}
            </div>
            </a>
        {% endfor %}
      {% endif %}
      {% if nodes %}
      {% for node in nodes %}
      <a id="node_link{{ node.id }}">
        <div class="item">
          {{ node.id }} {{ node.workspace }} {{ node.ip_addr }} {{ node.user }}
        </div>
      </a>
      {% endfor %}
      {% endif %}
      {% if build and node %}
            <div class="item">
              {{ build.id }} {{ build.commands }} {{ build.status }} {{ build.description }} {{ build.created_date }} {{ node.id }} {{ node.workspace }} {{ node.ip_addr }} {{ node.user }}
            </div>
    {% endif %}
  </div>

</div>
<script type = "text/javascript">
    $(".navbar").click(function(){
       $(".wrapper").toggleClass("collapse");
    });
</script>

</body>
</html>